@import "../../variables.scss";
@import "../../reset.scss";

.home-page {
  .top-section {
    position: relative;
    height: 720px;
    background-image: linear-gradient(0deg, $startColor 0%, $endColor 100%);
    .mask {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 0;
    }
    .vertical-middle {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      box-sizing: border-box;
      width: 100%;
      text-align: center;
      padding: 0 20px;
    }
    .product-name {
      position: relative;
      display: inline-block;
      h2 {
        font-family: Avenir-Heavy;
        font-size: 46px;
        color: #fff;
        text-align: center;
        word-break: break-word;
        margin: 0;
      }
    }
    .product-desc {
      opacity: 0.6;
      font-family: Avenir-Medium;
      font-size: 24px;
      color: #fff;
      text-align: center;
      margin: 12px auto 0;
      max-width: 730px;
    }
    .button-area {
      text-align: center;
      margin-top: 40px;
      .button {
        margin-right: 20px;
      }
      .button:last-child {
        margin-right: 0;
      }
    }
  }
  .introduction-section {
     background: #F9FAFA; 
    .introduction-body {
      max-width: $contentWidth;
      box-sizing: border-box;
      margin: 0 auto;
      min-height: 640px;
      padding: 0 40px;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      .introduction {
        display: inline-block;
        width: calc(100% - 726px);
        min-width: 300px;
        max-width: 590px;
        h3 {
          font-family: Avenir-Heavy;
          font-size: 36px;
          color: #333;
          margin-bottom: 40px;
          word-break: break-word;
        }
        p {
          opacity: 0.56;
          font-family: Avenir-Medium;
          font-size: 18px;
          color: #333;
        }
      }
      img {
        width: 562px;
        margin: 0 82px;
        max-width: 100%;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
      }
      @media screen and (max-width: 1106px) {
        .introduction {
          display: inline-block;
          width: 100%;
          max-width: 100%;
        }
        img {
          margin: 0;
        }
      }
    }
  }

  .function-section {
    max-width: 832px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 82px 0;

    h3 {
      font-family: Avenir-Heavy;
      font-size: 36px;
      text-align: center;
      font-weight: 400;
    }

    .bone {
      margin: 0 auto 45px;
    }

    .func-item {
      margin-bottom: 30px;
      position: relative;

      .col {
        display: inline-flex;
        align-items: center;
        vertical-align: middle;
        margin: 0 auto;
        width: 50%;
        max-width: 750px;
        min-height: 325px;

        img {
	  margin-top: 40px;
          width: 325px;
        }

        h4 {
          font-weight: 400;
          font-family: Avenir-Heavy;
          font-size: 24px;
          color: #333;
          margin-bottom: 20px;
        }

        p {
          opacity: 0.8;
          font-family: Avenir-Medium;
          font-size: 18px;
          color: #999;
          margin: 0;
        }
      }

      .img {
        display: inline-block;
        text-align: center;
      }

      @media screen and (max-width: 830px) {
        & {
          text-align: center;
        }
        .col {
          width: 100%;
        }
        .img {
          position: absolute;
          left: 50%;
          top:  50%;
          transform: translate(-50%, -50%);
          opacity: 0.1;
        }
      }
    }
  }	

  .feature-section {
    background: $brandColor;
   
   .feature-section-body {
      max-width: $contentWidth;
      margin: 0 auto;
      position: relative;
      padding: 80px 40px;
      color: #fff;

      h3 {
        font-family: Avenir-Heavy;
        font-size: 36px;
        text-align: center;
        margin: 0;
        font-weight: 400;
      }

      .bone {
        margin: 0 auto 45px;
      }

      .feature-list {
        list-style: none;
        padding: 0;
        margin: 0;

        .feature-list-item {
          vertical-align: top;
          display: inline-block;
          margin-bottom: 48px;
          width: 50%;

          ul {
            list-style: disc;
            padding-left: 14px;

            li {
              font-family: Avenir-Medium;
              font-size: 18px;
              color: #999;
            }
          }

          img {
            vertical-align: top;
            width: 34px;
            margin-right: 20px;
          }

          div {
            display: inline-block;
            width: 80%;

            h4 {
              font-family: Avenir-Heavy;
              font-size: 20px;
              margin: 5px 0 20px 0;
            }

            p {
              font-family: Avenir-Medium;
              font-size: 20px;
              line-height: 20px;
              color: #999;
            }
          }
        }

        @media screen and (max-width: 768px) {
          .feature-list-item {
            width: 100%;
          }
        }
      }
    }  
  }
  @media screen and (max-width: $mobileWidth) {
    .introduction-section {
      padding: 0 20px;
      &::before {
        left: 20px;
      }
      &::after {
        left: 19px;
      }
    }
    .feature-section {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .users-section {
    box-sizing: border-box;
    max-width: $contentWidth;
    margin: 0 auto;
    padding: 80px 40px 40px;
    position: relative;

    .bone {
      margin: 0 auto 40px;
    }

    h3 {
      font-family: Avenir-Heavy;
      font-size: 36px;
      color: #333;
      text-align: center;
    }

    p {
      font-family: Avenir-Medium;
      font-size: 14px;
      color: #666;
      text-align: center;
      margin: 0 0 40px;

      a {
        color: #1e6bb8;
        text-decoration: none;
      }
    }

    .users {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;

      .user-item {
        display: flex;
        width: 140px;
        height: 80px;
        margin: 10px;
        padding: 4px;
        border: 1px solid #eee;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
        }
      }
    }
  }	

}
