@import '../../variables.scss';

.footer-container {
  background: #f4f4f4;
  .cloud-native {
    padding-top: 60px;
    .container {
      max-width: 990px;
      text-align: center;
      margin: 0 auto;
      img {
        width: 300px;
        max-width: 100%;
        vertical-align: middle;
        border: none;
      }
      p {
        font-weight: 300;
        font-size: 24px;
        margin: 24px 0;
      }
    }
    @media (min-width: 1200px) {
      .container {
          width: 1170px;
      }
    }
  }
  .copyright {
    border-top: 1px solid #ccc;
    min-height: 60px;
    line-height: 20px;
    text-align: center;
    font-family: Avenir-Medium;
    font-size: 12px;
    color: #999;
    display: flex;
    align-items: center;
    span {
      display: inline-block;
      margin: 0 auto;
      max-width: 970px;
    }
  }
}
